html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  .container {
    max-width: 130rem;
  }
  .logo-img {
    width: 100%;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .menu-list__help {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 0 0 1.5rem;
    li {
      position: relative;
      padding: 0.5rem 0.2rem 0.5rem 0.6rem;
      &:not(:last-of-type) {
        border-right: 1px solid rgb(46, 44, 44);
      }
      a {
        font-size: 1.2rem;
        color: #2f2f8e;
        display: inline-block;
        transition: all 0.2s linear;
      }
      &:hover a {
        text-decoration: none;
        color: rgb(7, 108, 240);
      }
      &:nth-of-type(4) {
        padding: 0 0.2rem;
        box-sizing: border-box;
        .languages-options {
          cursor: pointer;
          padding: 0.5rem 0.3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border-left: 1px solid #d5d5d5;
          border-top: 1px solid #9b9b9b;
          border-bottom: 1px solid #e8e8e8;
          border-right: 1px solid #d5d5d5;
          span {
            &:first-child{
                margin-right: 0.5rem;
            }
            font-size: 1.2rem;
            display: inline-block;
            &:nth-of-type(2) {
              i {
                font-size: 1.3rem;
              }
            }
          }
        }
      }
    }
  }
}
main{
  .school-places{
    width: 100%;
    .Library{
      max-width: 100%;
      height: 100%;
      img{
        display: block;
        width: 100%;
        object-fit: cover;
        height: 100%;
        max-height: 32.8rem;
      }
    }
  }
  .nav-bar{
    position: relative;
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    text-align: center;
    &__list{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__item{
      padding: 1.5rem 2rem;
      font-size: 2rem;
      font-weight: 600;
      color: #3e3ebe;
      text-transform: uppercase;
      transition: all 0.3s linear;
      cursor: pointer;
      &:hover{
        background-color: rgba(0,0,0,0.4);
        color: #1f8bbd;
      }
    }
    border-bottom:3px solid #333;
  }
}
.news-papper{
  position: relative;
  &__image{
    width: 100%;
    height: auto;
    img{
      width: 100%;
      object-fit: cover;
      height: 100%  ;
    }
  }
  &__content{
    background-color: #d0d1c3;
    padding: 2rem 3rem 2rem 2rem;
    font-weight: 400;
    height: 100%;
  }
  &__title{
    color: #0244fa;
    font-size: 2rem;
    margin-bottom: 1.8rem;
    font-weight:500;
    line-height: 2.4rem;
  }
  &__desc{
    line-height: 2.4rem;
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
  &__more-infor{
    display: inline-block;
    position: relative;
    color: #2e2ed1;
    font-size: 1.5rem;
    text-decoration: none;
    &::after{
      content: '';
      position: absolute;
      left: 0;
      width: 0;
      height: 1px;
      background-color: #2e2ed1;
      display: block;
      transition: all 0.3s linear;
    }
    &:hover{
      text-decoration: none;
    }
    &:hover::after{
      width: 100%;
    }
  }
  .library-schedule{
    padding: 1.5rem 2rem 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    &__title{
      margin-bottom: 1.5rem;
      font-size: 2rem;
      font-weight: 600;
      text-transform: uppercase;
      color: rgba(34, 109, 160, 0.945);
    }
    select{
      display: block;
      width:80%;
      border: 1px solid rgba(0,0,0,0.5);
      padding: 0.5rem;
      outline: none;
      font-size: 1.4rem;
    }
    &__img{
      width: 100%;
      height: 100%;
      img{
        width: 100%;
        object-fit: contain;
      }
    }
    &__address{
      text-align: left;
      color: #1991d6;
      font-size: 1.4rem;
      p{
        line-height: 2rem;
        font-weight: 500;
      }
      .map{
        text-align: right;
        margin-top: 1rem;
        a{
          display: inline-block;
          max-width: 5rem;
          max-height: 5rem;
          img{
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
    &__service-time{
      margin-top: 1rem;
      font-size: 2.4rem;
      color: #2389c4a9;
      font-weight: 600;
      text-transform: capitalize;
    }
    &__serve-time{
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 1.5rem;
      li:first-child{
        background-color: #2384d3;
        color: #fefefe;
      }
    }
    &__daily-time{
      width: 100%;
      text-align: center;
      padding: 0.1rem 0.5rem;
      background-color: #fff9eb;
      &:not(:last-of-type){
        margin-right: 0.2rem;
      }
      .day-serve{
        font-size: 1.4rem;
        font-weight: 500;
        margin-bottom: 0.8rem;
      }
    }
  }
}
.search-infor{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0.5rem;
  &__title{
    margin-bottom: 1.2rem;
    i{
      font-size: 2rem;
      margin-right: 0.2rem;
      color: #22afe7f3;
    }
    span{
      font-size: 2.2rem;
      font-weight: 600;
      letter-spacing: 0.1rem;
    }
  }
  &__input{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    input{
      padding: 0.5rem 1.5rem;
      flex: 1;
      display: inline-block;
      font-size: 1.6rem;
      outline: none;
    }
    button{
      outline: none;
      border: none;
      padding: 0 1.5rem;
      text-transform: uppercase;
      font-size: 1.8rem;
      font-weight: 600;
      background-color: #155cdf;
      color: #fefefe;
    }
  }
  &__type{
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-start;
    label + label{
      margin-left: 3rem;
    }
    label{
      display: inline-flex;
      align-items: center;
      input{
        cursor: pointer;
        margin-right: 1.5rem;
        font-size: 1rem;
      }
      span{
        display: inline-block;
        font-size: 1.8rem;
      }
    }
  }
}
.event-title{margin-top: 1.5rem;
  border-bottom: 0.3rem solid #146ce0;
  h2{
    font-size: 2rem;
    color: #146ce0;
    padding-bottom: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-indent: 1.4rem;
  }
}
.search-books{
  margin-top: 2rem;
  width: 100%;
  &__button{
    position: relative;
    border-bottom: 3px solid #146ce0;
    button{
      display: inline-block;
      bottom: 0;
      outline:none;
      border:none;
      display:inline-block;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      padding:0.5rem 1.2rem;
      transition:all  ;
      font-weight:500;
      font-size:2rem;
      color: #fefefe;
      &:first-child{
        margin-right: 1.5rem;
        background-color: #1255d1;
      }
      &:nth-child(2){
        margin-right: 1.5rem;
        background-color: #169bd8;
      }
      &:nth-child(3){
        margin-right: 1.5rem;
        background-image: linear-gradient(to right,#169bd8,#1255d1);
      }
      &:nth-child(4){ 
        background-image: linear-gradient(to right,#871dc4b7,#1a34c7c4);
      }
    }
  }
}
.owl-carousel2{
  .owl-item{
    margin-right: 3rem;
    .book-item{
      .book-img{
        width: 100%;
        .link-book{
          position: relative;
          max-width: 19rem;
          text-decoration: none;
          display: block;
          height: auto;
          width: 100%;
          transition: all 0.3s linear;
          img{
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
          &::after,&::before{
            content: '';
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            transform-origin: center;
          }
          &:hover::after{
            animation: top_bottom_in 0.4s linear forwards;
          }
          &:hover::before{
            animation: left_right_in 0.4s linear forwards;
          }
          &.out-center{
            &:after{
              animation: top_bottom_out 0.5s linear forwards;
            }
            &:before{
              animation: left_right_out 0.5s linear forwards;
            }
          }
        }
      }
      .book-content{
        margin-top: 2rem;
        h3{
          font-size:1.8rem;
          font-weight:500;
        }
        p{
          margin-top: 1.5rem;
          font-size:1.4rem;
          font-weight: 400;
          font-style: italic;
          color: #000;
        }
      }
    }
  }
}
@keyframes top_bottom_in{
  from{
    opacity: 0;
    transform: scaleY(1);
    background-color: rgba(255,255,255,0.8);
  }
  to{
    transform: scaleY(0);
  }
}

@keyframes left_right_in{
  from{
    opacity: 0;
    transform: scaleX(1);
    background-color: rgba(255,255,255,0.8);
  }
  to{
    transform: scaleX(0);
  }
}
@keyframes top_bottom_out{
  from{
    opacity: 0;
    transform: scaleY(0);
    background-color: rgba(255,255,255,0.8);
  }
  to{
    transform: scaleY(1);
  }
}
@keyframes left_right_out{
  from{
    opacity: 0;
    transform: scaleX(0);
    background-color: rgba(255,255,255,0.8);
  }
  to{
    transform: scaleX(1);
  }
}
